.profile {
  max-width: 1280px;
  padding: 0 70px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 74px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.profile__form {
  width: 410px;
  margin: 105px auto 0;
}

.profile__input-block {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e8e8e8;
}

.profile__input-block:last-of-type {
  border: none;
}

.profile__name {
  margin: 0;
  width: 141px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: left;
}

.profile__input {
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
  width: 200px;
}

.profile__input:disabled {
  background-color: #fff;
}

.profile__input-error {
  width: 410px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
  text-align: left;
  min-height: 13px;
}

.profile__edit {
  display: flex;
  margin: 204px auto 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.profile__logout {
  margin-top: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ff3055;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.button_disabled {
  display: none;
}

.profile__submit {
  background: #3456f3;
  border-radius: 3px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 396px;
  height: 45px;
  margin-top: 208px;
  cursor: pointer;
}

.profile__submit:hover {
  background-color: #3456f3;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 0 30px;
  }
  .profile__title {
    margin-top: 236px;
  }
  .profile__form {
    margin-top: 77px;
  }
  .profile__edit {
    margin-top: 195px;
  }
}
