.promo {
  background-color: #073042;
  padding: 0 70px;
  display: flex;
  position: relative;
  min-height: 574px;
  flex-direction: column;
}

.promo__title {
  margin: 0;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  color: #ffffff;
  width: 640px;
  padding-top: 75px;
}

.promo__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 310px;
  padding-top: 36px;
  text-align: left;
  margin: 0;
}

.promo__image {
  width: 310px;
  height: 304px;
  position: absolute;
  top: 75px;
  right: 70px;
}

.promo__button {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  background-color: #073042;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  width: 129px;
  height: 36px;
  margin-top: 146px;
  cursor: pointer;
}
