.promo {
  background-color: #073042;
  padding: 0 70px;
  display: flex;
  position: relative;
  /* max-height: 574px; */
  flex-direction: column;
}

.promo__title {
  margin: 0;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  color: #ffffff;
  width: 640px;
  padding-top: 75px;
}

.promo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 310px;
  padding-top: 36px;
  text-align: left;
  margin: 0;
}

.promo__image {
  width: 310px;
  height: 304px;
  position: absolute;
  top: 75px;
  right: 70px;
}

.promo__button {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background-color: #073042;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  width: 129px;
  height: 36px;
  margin: 146px 0 75px 0;
  padding: 9px 0;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .promo__title {
    font-size: 40px;
    max-width: 680px;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    line-height: 1.25;
  }
  .promo__image {
    position: unset;
    margin-top: 140px;
  }
  .promo {
    align-items: center;
    margin: auto;
    /* min-height: 850px; */
    padding: 0 30px;
  }

  .promo__text {
    padding-top: 36px;
    text-align: center;
    padding-top: 20px;
    width: 260px;
  }
  .promo__button {
    margin-top: 92px;;
  }
}

@media screen and (max-width: 600px) {
  .promo__title {
    width: 300px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    padding-right: 10px;
    padding-left: 10px;
  }
  .promo__title {

    font-size: 30px;
    line-height: 1.27;
    letter-spacing: -0.04em;
    padding-top: 45px;
  }
  .promo__image {
    width: 210px;
    height: 206px;
    margin-top: 70px;
  }
  .promo__text {
    padding-top: 23px;
  }
  .promo__button {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}
