.search {
  margin: auto;
  margin-top: 70px;
}

.search__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.search__input-error {
  margin-top: 10px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
  text-align: left;
  min-height: 13px;
}

.search__input {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  padding: 0 10px 0 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
}

.search__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #a0a0a0;
}

.search__button {
  background-color: #3456f3;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  padding: 17px 28px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .search__button {
    font-size: 14px;
    line-height: 18px;
    padding: 13px 18px;
    top: 6px;
    right: 6px;
  }
  .search__input {
    height: 56px;
    padding-left: 10px;
  }
  .search__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }
}
