.header {
  display: flex;
  height: 74px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.header__logo {
  display: block;
  height: 38px;
  width: 38px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 64px;
}

.header_dark {
  background-color: #073042;
}

@media screen and (max-width: 768px) {
  .header_dark {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-right: 0;
  }
  .header_dark {
    padding: 0 14px;
  }
}