.techs {
  display: flex;
  flex-direction: column;
  height: 525px;
  background-color: #f5f5f5;
  padding: 100px 70px 0;
}

.techs__title {
  margin: 90px auto 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__subtitle {
  margin: 26px 0 0;
  justify-items: center;
  max-width: 460px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  align-self: center;
}

.techs__table {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 100px 0 0;
  align-self: center;
}

.techs__items {
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 90px;
  align-self: center;
  padding: 21px 0 20px;
}

.techs__items:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .techs {
    height: 476px;
    padding: 88px 50px 0;
  }
  .techs__title {
    margin: 80px auto 0;
  }
  .techs__subtitle {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 1.5;
  }
  .techs__table {
    margin: 83px 0 0;
  }
  .techs__items {
    margin-left: 10px;
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    padding: 21px 0 20px;
  }
}