.about-me {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 110px 70px 0;
}

.about-me__information {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 58px 20px 178px 17px;
  gap: 18px 30px;
  margin-top: 66px;
  justify-content: space-between;
}

.about-me__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: #000000;
  text-align: left;
}

.about-me__profession {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
  mix-blend-mode: normal;
  text-align: left;
  margin: 0;
}

.about-me__text {
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #000000;
  mix-blend-mode: normal;
  text-align: left;
  margin: 7px 0 0;
}

.about-me__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 0;
}

.about-me__image {
  width: 270px;
  min-height: 327px;
  object-fit: cover;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: -1;
}

@media screen and (max-width: 786px) {
  .about-me {
    padding: 90px 50px 0;
  }
  .about-me__image {
    width: 255px;
    min-height: 307px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__profession {
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__information {
    grid-template-rows: 44px 17px 192px 17px;
    gap: 12px 30px;
    margin-top: 66px;
    justify-content: space-between;
  }
  .about-me__text {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .about-me {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 65px;
  }
  .about-me__information {
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    justify-content: center;
    grid-template-rows: auto;
    margin-top: 60px;
    grid-template-rows: max-content;
  }
  .about-me__image {
    width: 292px;
    min-height: 352px;
    grid-column: 1;
    justify-self: center;
  }
  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
    margin-top: 27px;
  }
  .about-me__profession {
    font-size: 11px;
    line-height: 16px;
    margin-top: 8px;
  }
  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__link{
    margin-top: 28px;
  }
}
